import(stringr, methods, XML, sensitivity, lhs, rgl)
export(
    "make.mtkFactor",
    "make.mtkFeatureList",
    "make.mtkParameterList",
    "mtk.designerAddons",
    "mtk.evaluatorAddons",
    "mtk.analyserAddons",
    "mtkProcess",
    "mtkAnalyser",
    "mtkAnalyserResult",
    "mtkBasicMonteCarloDesigner",
    "mtkBasicMonteCarloDesignerResult",
    "mtkDefaultAnalyser",
    "mtkDomain",
    "mtkExpFactors",
    "mtkExpWorkflow",
    "mtkExperiment",
    "mtkFactor",
    "mtkFastAnalyser",
    "mtkFastDesigner",
    "mtkFeature",
    "mtkIshigamiEvaluator",
    "mtkLevels",
    "mtkMorrisAnalyser",
    "mtkMorrisAnalyserResult",
    "mtkMorrisDesigner",
    "mtkMorrisDesignerResult",
    "mtkNativeAnalyser",
    "mtkNativeDesigner",
    "mtkNativeEvaluator",
    "mtkParameter",
    "mtkParsor",
    "mtkPLMMAnalyser",
    "mtkPLMMAnalyserResult",
    "mtkRandLHSDesigner",
    "mtkRandLHSDesignerResult",
    "mtkRegressionAnalyser",
    "mtkRegressionAnalyserResult",
    "mtkResult",
    "mtkDesigner",
    "mtkDesignerResult",
    "mtkEvaluator",
    "mtkEvaluatorResult",
    "mtkSobolAnalyser",
    "mtkSobolAnalyserResult",
    "mtkSobolDesigner",
    "mtkSobolDesignerResult",
    "mtkValue",
    "mtkWWDMEvaluator",
    "mtkWWDMEvaluatorResult",
    "mtkSystemEvaluator",
    "mtkSystemEvaluatorResult",
    "Quantiles"
)
exportMethods(
    "addProcess",
    "[",
    "[[",
    "$",
    "deleteProcess",
    "extractData",
    "getData",
    "getDistributionName",
    "getDistributionNames",
    "getDistributionParameters",
    "getDomain",
    "setDomain",
    "getFactorFeatures",
    "getFeatures",
    "getMTKFeatures",
    "getType",
    "getName",
    "getFactors",
    "getNames",
    "getFactorNames",
    "getLevels",
    "getWeights",
    "getDiscreteDistributionType",
    "getDiscreteDistributionLevels",
    "getDiscreteDistributionWeights",
    "getNominalValue",
    "getNominalValueType",
    "getDistributionNominalValue",
    "getDistributionNominalValueType",
    "getDistributionNominalValues",
    "getDistributionNominalValueTypes",
    "getParameters",
    "getProcess",
    "getResult",
    "getValue",
    "initialize",
    "is.finished",
    "is.ready",
    "mtkReadFactors",
    "plot",
    "print",
    "reevaluate",
    "report",
    "run",
    "serializeOn",
    "setDistributionParameters",
    "setFeatures",
    "setLevels",
    "setFactors",
    "setName",
    "setType",
    "setValue",
    "setWeights",
    "setParameters",
    "setProcess",
    "setReady",
    "setState",
    "setXMLFilePath",
    "show",
    "summary" 
)
exportClasses(
     "mtkProcess",
     "mtkAnalyser",
     "mtkAnalyserResult",
     "mtkBasicMonteCarloDesigner",
     "mtkBasicMonteCarloDesignerResult",
     "mtkDefaultAnalyser",
     "mtkDomain",
     "mtkExpFactors",
     "mtkExpWorkflow",
     "mtkFactor",
     "mtkFastAnalyser",
     "mtkFastDesigner",
     "mtkFeature",
     "mtkIshigamiEvaluator",
     "mtkLevels",
     "mtkMorrisAnalyser",
     "mtkMorrisAnalyserResult",
     "mtkMorrisDesigner",
     "mtkMorrisDesignerResult",
     "mtkNativeAnalyser",
     "mtkNativeDesigner",
     "mtkNativeEvaluator",
     "mtkParameter",
     "mtkParsor",
     "mtkPLMMAnalyser",
     "mtkPLMMAnalyserResult",
     "mtkRandLHSDesigner",
     "mtkRandLHSDesignerResult",
     "mtkRegressionAnalyser",
     "mtkRegressionAnalyserResult",
     "mtkResult",
     "mtkDesigner",
     "mtkDesignerResult",
     "mtkEvaluator",
     "mtkEvaluatorResult",
     "mtkSobolAnalyser",
     "mtkSobolAnalyserResult",
     "mtkSobolDesigner",
     "mtkSobolDesignerResult",
     "mtkValue",
     "mtkWWDMEvaluator",
     "mtkWWDMEvaluatorResult",
     "mtkSystemEvaluator",
     "mtkSystemEvaluatorResult"
)
